body {background-color:powderblue;text-align: center;}

h1 {color: deeppink;font-family: verdana;}

h2 {color: deeppink;font-family: verdana;}

h3 {color: deeppink;font-family: verdana;}

p  {color: deeppink;font-family: verdana;}